.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
}
.navbar {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 22px 200px;
    background-color: #1a0b2e;
}
.logo {
    color: #ffffff;
}
.gradient {
    background: linear-gradient(#9100f8, #fb09b4, #f7e93f);
    background-clip: text;
    color: transparent;
}
.nav-link {
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-link li {
    list-style: none;
}
.nav-link a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.nav-btn {
    width: 135px;
    height: 44px;
    background: linear-gradient(90deg, #9100f8, #fb09b4, #f7e93f);
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.nav-btn button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.menu-img {
    display: none;
}

.line {
    border: none;
    height: 1px;
    background-color: #412567;
}
/* hero section */
.hero {
    background-image: url("../Images/hero-bg.png");
    height: 100vh;
}

.outer-img {
    position: relative;
    display: inline-block;
}
.outer-img h4 {
    position: absolute;
    width: 75px;
    height: 38px;
    background-color: #00ff88;
    border-radius: 15px;
    border: 1px solid #1a0b2e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a0b2e;
    margin-left: 895px;
    margin-top: 113px;
}
.outer-img .microphone {
    position: absolute;
    padding-left: 742px;
    padding-top: 170px;
}
.outer-img .circle {
    height: 350px;
    width: 350px;
    display: block;
    padding-left: 625px;
    padding-bottom: 101px;
    padding-top: 80px;
}
.hero-content {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 520px;
}
.content h1 {
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 8px;
    background: linear-gradient(-90deg, #9100f8, #fb09b4, #f7e93f);
    background-size: 150px;
    background-clip: text;
    color: transparent;
    animation: move 7s linear infinite;
}
@keyframes move {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 300%;
    }
}
.content h5 {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 24px;
}
.input-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.input-content .button-1 {
    width: 201px;
    height: 44px;
    font-size: 16px;
    width: 600;
    /* background: linear-gradient(#9100f8, #fb09b4, #f7e93f); */
    background:
        url("../Images/spotify.png") no-repeat 20px center,
        linear-gradient(90deg, #9100f8, #fb09b4, #f7e93f);
    padding-left: 20px;
    border: none;
    border-radius: 10000px;
    color: #ffffff;
}

.input-content .button-2 {
    width: 147px;
    height: 44px;
    padding-left: 20px;
    background: url("../Images/message.png") no-repeat 20px center;
    border: 2px solid #00ff88;
    color: #00ff88;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
}
.about-section {
    height: 440px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    background-color: #1a0b2e;
    /* padding-top: 101px; */
}
.about-content {
    width: 1200px;
    height: 148px;
}
.about-section h2 {
    padding-top: 101px;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}
.about-section .first-about {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 16px;
}
.about-section .second-about {
    padding-bottom: 8px;
}
.card-section {
    /* width: 1200px ; */
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
    background-color: #1a0b2e;
}
.card h1 {
    font-size: 48px;
    font-weight: 900;
    color: #00ff88;
    letter-spacing: 3px;
}
.card h5 {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 16px;
}
.flex-box {
    height: 1122px;
    padding: 120px 200px;
    display: grid;
    justify-content: center;
    background-color: #230e3d;
}
.box-card {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
}

.flex-box .box-head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}
.box-1 {
    grid-row: span 2;
    width: 380px;
    height: 480px;
    background-color: #351165;
    border-radius: 40px;
}
.box-2 {
    grid-column: span 2;
    background-color: #351165;
    border-radius: 40px;
}
.box-4 {
    height: 275px;
    grid-column: span 2;
}
.box-5 {
    height: 275px;
    background-color: #351165;
    border-radius: 40px;
}
.box-1 img {
    height: 60px;
    width: 60px;
    padding-top: 108px;
    padding-left: 40px;
}
.primary-class {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 16px;
    padding-left: 40px;
}
.primary-class-2 {
    width: 60px;
    height: 60px;
    padding-top: 40px;
    padding-left: 40px;
}
.primary-class-3 {
    padding-top: 16px;
    padding-left: 40px;
    font-size: 16px;
    color: #ffffff;
}
iframe {
    border-radius: 40px 40px 0 0;
}

.featured-episodes {
    padding: 120px 200px 0 200px;
    background-color: #1a0b2e;
}
.future {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}
.music {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    gap: 30px;
}
.music-card {
    width: 380px;
    height: 440px;
    background-color: #250d44;
    border-radius: 40px;
}
.music-card h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: start;
    padding-top: 24px;
    padding-left: 24px;
    color: #ffffff;
}
.music-card p {
    font-size: 16px;
    text-align: start;
    padding-top: 12px;
    padding-left: 24px;
    color: #ffffff;
}
.music input {
    font-size: 16px;
    font-weight: 500;
    color: #00ff88;
    background: none;
    border: none;
    padding-top: 12px;
    padding-right: 250px;
    background: url("../Images/clock.png") no-repeat;
    /* background-size: cover; */
    background-position: 5px bottom;
    padding-left: 35px;
    position: relative;
}

.meet-section {
    padding: 120px 200px 120px 200px;
    background-color: #1a0b2e;
}
.meet-head {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}
.meet-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* padding-top: 40px ; */
    gap: 24px;
    background-color: #351165;
    border-radius: 40px;
}
.host img {
    width: 200px;
    height: 200px;
    padding: 40px 24px 40px 40px;
}
.host-about h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 48.5px;
}
.host-about p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    padding-top: 16px;
}
.host-icons {
    width: 184px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 16px;
    padding-bottom: 49px;
}
.img {
    border: 2px solid #532c72;
    border-radius: 100%;
}

.footer-bg {
    background-image: url("../Images/footer-bg.png");
    background-repeat: no-repeat;
    height: 412px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-head {
    font-size: 26px;
    font-weight: 600;
    padding-top: 120px;
}
.footer-input {
    padding-top: 30px;
    padding-left: 80px;
    width: 544px;
    height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /* background: none; */
}
.cr-button {
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: none;
    color: #ffffff;
    /* background-color: #00ff88; */
}
.btn-1 {
    background: url("../Images/spotify.png") no-repeat;
    background-position: left;
    padding-left: 25px;
}
.btn-2 {
    background: url("../Images/apple-podcast.png") no-repeat;
    background-position: left;
    padding-left: 25px;
}
.btn-3 {
    background: url("../Images/youtube-podcast.png") no-repeat;
    background-position: left;
    padding-left: 25px;
}
.btn-4 {
    background: url("../Images/twitter.png") no-repeat;
    background-position: left;
    padding-left: 25px;
}
.copy-right {
    padding-top: 32px;
    padding-left: 80px;
    font-size: 16px;
    color: #ffffff;
}

@media screen and (max-width: 576px) {
    body {
        width: 440px;
    }
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .nav-link {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    .menu-img {
        display: block;
    }
}
